.contact-page {
  padding-top: 80px;
}

.consultation-wrapper {
  display: grid;
  grid-template-columns: 1fr 1.2fr;
  gap: 50px;
  align-items: center;
  margin-bottom: 100px;
}

.consultation-image img {
  width: 100%;
  height: 550px;
  object-fit: cover;
  border-radius: 20px;
}

.subtitle {
  color: #008751;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
}

.contact-form {
  margin-top: 30px;
}

.form-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.form-group {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-weight: 600;
  margin-bottom: 8px;
  font-size: 14px;
}

.form-group input,
.form-group select,
.form-group textarea {
  padding: 12px 15px;
  border: 1px solid #e2e8f0;
  border-radius: 10px;
  background: #f8fafc;
  font-family: inherit;
}

.send-btn {
  background-color: #008751;
  color: white;
  border: none;
  padding: 15px 30px;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.send-btn:hover {
  background-color: #006b40;
}

/* Reach Out Section */
.reach-out-section {
  padding: 100px 0;
  background-color: #f9fbf9;
}

.contact-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  margin-top: 50px;
}

.info-card {
  background: white;
  color: gray;
  padding: 40px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.03);
}
.info-card h3 {
  color: black;
}

.info-card .icon {
  font-size: 30px;
  color: #008751;
  margin-bottom: 15px;
}

.info-card a {
  color: #008751;
  text-decoration: none;
  font-weight: 700;
}

.error-input {
  border-color: #ff4d4f !important;
}
.error-msg {
  color: #ff4d4f;
  font-size: 12px;
  margin-top: 5px;
}
.icon img {
  border-radius: 50% !important;
}
@media (max-width: 992px) {
  .consultation-wrapper,
  .contact-cards {
    grid-template-columns: 1fr;
  }
}
